body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    color: #007bff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #16d851;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#cameraContainer {
    margin: 20px auto;
    display: none;
}

video {
    width: 80%;
    border: 2px solid #007bff;
    border-radius: 8px;
}
